.table-ex-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.table-ex-container .ant-table-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.table-ex-container .ant-spin-nested-loading {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.table-ex-container .ant-spin-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.table-ex-container .ant-table {
  flex: 1;
}

.table-ex-container .ant-table-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.table-ex-container .ant-table-body {
  flex: 1;
}

/* .table-ex-container .ant-table-wrapper .ant-table-pagination.ant-pagination {
  margin: 8px 0;
} */